/* ==================== Google Fonts ==================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ==================== Variables ==================== */
:root {
    --header-height: 3.5rem;

    /* ========== Colors ========== */

    /**
     * HSL(A):
     *  H - Hue 色相
     *  S - Saturation 饱和度
     *  L - Lightness 亮度
     *  A - 透明度
     */
    --first-color: hsl(236, 100%, 48%);
    --black-color: hsl(0, 0%, 0%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: var(--white-color);

    /* X, Y, 模糊半径, 颜色 */
    --nav-shadow: 0, 4px, 16px, hsla(0, 0%, 0%, 0.3);

    /* ========== 字体和排版 ========== */
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
}

/* ==================== 响应式排版 ==================== */
@media screen and (min-width: 1150px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

/* ==================== 基础排版 ==================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

button {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ==================== Reuseable CSS Classes ==================== */
.container {
    max-width: 1120px;
    margin-inline: 1rem;
}
